body,html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overscroll-behavior-y: none ;
  background-color: #ffffff;
}

h1, h2, h3 {
  color: #333;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  color: #0056b3;
}

.container {
  padding: 2rem;
}
